body {
    background-image: url("gradient_bg.png");
  }
  body {
    background-image: url("gradient_bg.png");
    background-repeat: repeat-x;
  }
  body {
    background-image: url("img_tree.png");
    background-repeat: no-repeat;
  }
  body {
    background-image: url("img_tree.png");
    background-repeat: no-repeat;
    background-position: right top;
  }