p.one {
    border-style: solid;
    border-color: red;
  }
  
  p.two {
    border-style: solid;
    border-color: green;
  }
  
  p.three {
    border-style: dotted;
    border-color: blue;
  }
  p.one {
    border-style: solid;
    border-color: red green blue yellow; /* red top, green right, blue bottom and yellow left */
  }
  p.one {
    border-style: solid;
    border-color: #ff0000; /* red */
  }
  p.one {
    border-style: solid;
    border-color: rgb(255, 0, 0); /* red */
  }