<form asp-action="Index">
    <input type="text" name="SP" placeholder="Tên sản phẩm">
    <input type="number" name="SoLuong" placeholder="Số lượng">
    <input type="text" name="Gia" placeholder="Giá cả">
    <input type="submit">
</form>
<h1>@ViewBag.thanhtien</h1>