<form asp-action="Index">
    <input type="string" name="Fullname" placeholder="Tên Môn Học">
    <input type="double" name="DiemA" placeholder="Điểm A">
    <input type="double" name="DiemB" placeholder="Điểm B">
    <input type="double" name="DiemC" placeholder="Điểm C">
    <input type="submit" value="Gửi Dữ Liệu"
</form>
<h1>@ViewBag.td</h1>